.home{
    margin: 0 auto;
    width: 1170px;
}
.card{
    margin: 0 auto;
    max-width: 500px;
    height: max-content;
    border: 1px solid rgb(173,173,173);
    border-radius: 5px;
}
.card-header{
    display: flex;
}

.card-header > h5 {
    margin: 0px;
    padding: 11px;
}

.card-pic img{
    width: 30px;
    border-radius: 30px;
}
