.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px #e0dcdc;
}
ul{
    display: flex;
}
.nav-menu{
    padding-top: 10px;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 1px 20px;
}