.profile{
    max-width: 600px;
    margin: 10px auto;
}

.profile-frame{
    display: flex;
    justify-content: space-evenly;
}

.profile-pic > img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-info p{
    padding: 0px 5px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.gallery img{
    width: 30%;
    margin: 10px;
}